*{
    line-height: 100%;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    list-style-type: none;
}
body{
  font-family: "Poppins",sans-serif !important;
}

.nav-link-text{
  color: white !important;
  font-weight: bold;
}
.nav-link-text:hover{
  opacity: 0.8 !important;
  transition: .2s;
}